body{
    background-color: bisque;
}
 #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 
        


  
  h1 {
      font-size: 15em;
    
    text-align: center;

    
    border:solid;
    border-radius:30px;
    background:white;
    padding: 15px 20px 15px 20px;
    width: 50%;
  }
  
  
  
  
  
  h4 {
    text-align: center;
    color: red;
  }
  h5 {
    text-align: center;
    color: red;
  }
  
  
  
  .volunteer {
    border-top-style: double;
    border-bottom-style: double;
    border-right-style: solid;
    border-left-style: solid;
    border-radius: 40px;
    background: white;
  }
  .container H2
  {Font-family:"cutefont",cursive;
  color:red;
  text-align:center;
    border:solid;
    border-radius:40px;
      background:lightgrey;
  }
  
  #contactus
  {color:white;
    width: 70%; 
      padding: 30px;  
      border:solid;
      border-radius: 20px;  
      margin-top: 10px; 
      margin-bottom: 25px;
    margin-left: 20px;
  cursor:pointer;}
  
  input[type=button]
  {width:100%;
  padding: 20px 30px;
  border-radius:20px;
  border:solid black 2px;
  cursor:pointer;}
  
  .movie-item img
  {height: 150px;
  width: 100px;
  padding:30px;}
  movie-item
  {text-align:center;
  }
  .movie-container
  {height:250px;
    background:grey;
    display:flex;
  flex-direction:row;
  justify-content:center;
    padding:15px;
  border:solid white 20px;
    border-radius:30px;
  align-items:center;
  flex-wrap:wrap;}
  
  li
  { list-style-type:none;
  margin:0;
  padding:0;
  display:inline;
  }
  ul
  {
  width: 30%;
    text-align:center;
    border-radius: 20%;
    border: 2px solid black;
      background-color: white;
    float:right;
  }
  .flex-item {

    background-color: rgb(201, 229, 236);
    border-radius: 5%;
    width: 50%;
    height: 40%;
    margin: 3em;
    text-align: center;
    
}
.flex-container{
        display: flex;
        display: -webkit-flex;
        width: 100%;   
        background-color: black;  
        flex-direction: row-reverse; 
        border-radius: 5%;  
        margin: 1em;
    
    }
    
.wrapper {
	background: radial-gradient( rgb(17, 17, 17), rgb(137, 138, 138));
	background-size: 400% 400%;
	-webkit-animation: Gradient 35s linear infinite alternate;
	-moz-animation: Gradient 35s linear infinite alternate;
	animation: Gradient 35s linear infinite alternate;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
